   <!-- headerFooter.html -->
   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{% url 'index' %}">Frisking</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'detect_people' %}">Detect People</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'gender_detection' %}">Gender Detection</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'sign_detection' %}">Sign Language Detection</a>
                  </li>
              </ul>
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/accounts/login/">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="http://127.0.0.1:8000/accounts/logout/">Logout</a>
                  </li>
              </ul>
          </div>
      </nav>
  </header>

  <footer>
      <p>&copy; 2025 EPICS Project</p>
  </footer>